# --------- gitignore for OpenFOAM runs -------
# Ignore mesh
studies/**/constant/**/*
# run temporal field files
[0-9]*/

# --- Parallel Processing ---
processor*/

# --- Logs & Temp Files ---
log.*
*.log
*.state

# --- ParaView ---
*.foam
*.OpenFOAM
*.pvd
*.vtm
.vtk
VTK/

# --- OS Specific ---
.DS_Store
Thumbs.db

# --- Python / Jupyter 
__pycache__/
*.pyc
.ipynb_checkpoints/

# ------- Exceptions to keep -------- 
!**/constant/transportProperties
!**/constant/parameters
!**/constant/turbulenceProperties
!**/constant/g
!**/constant/momentumTransport
# keeping field configuration
!**/0/
!**/0.org/
